.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1% 1.5%;
    overflow: hidden;
    width: 250px;
    height: 370px;
    background-color: black;
    box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.404);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    border-bottom-right-radius: 34.5px;
    
}

.cardContainer:hover{
    -webkit-box-shadow: 7px 7px 24px -4px rgba(156,145,156,1);
    -moz-box-shadow: 7px 7px 24px -4px rgba(156,145,156,1);
    box-shadow: 7px 7px 24px -4px rgba(156,145,156,1);
}

.cardImg{
    height: 45%;
    width: 250px;
}

.cardTitle{
margin-bottom: -3%;
padding: 0 2%;
font-size: 1.25rem;
}

.cardInf{
    font-size: 0.9rem;
    margin: 5% 5%;
    display:flex;
    flex-direction: column
}

.cardSpan{
    font-size: 0.7rem;
    font-style: italic;
    margin-top: 1%
}

.detailLink{
    cursor: pointer;
    text-decoration: none;
    color: #9761ae;
    font-size: 1.1rem;
    margin-bottom: 5%
}

.detailLink:hover{
    color: #bc85c9;
    font-weight: 600;
}

@media (max-width: 1200px){
    .cardContainer{
      margin: 4% 0
    }
  }