.generalContainer {
  background-image: url("../../img/img5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 47vh;
}

.bannerContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 2%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;
  /* height: 100% */
}

.filtersContainer {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.selectContainer {
  background: rgb(29, 29, 31);
  background: linear-gradient(
    180deg,
    rgba(29, 29, 31, 0.7063200280112045) 4%,
    rgba(119, 129, 146, 0.40379901960784315) 38%,
    rgba(183, 203, 220, 1) 98%
  );
  padding: 0.5% 2%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.6em;
  width: 14%;
}

.select {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-top: 4%;
  font-size: 1rem;
  outline: none;
  text-align: center;
  font-weight: 700;
}

/* .inputContainer {
  border-radius: 0.6em;
  margin-top: 3%;
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.input {
  outline: none;
  font-size: 0.9rem;
  border-radius: 0.6em;
  padding: 1.6% 3%;
  width: 65%;
  border: gray;
} */

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8em 1.7em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-color: #9761ae;
  color: #fff;
  box-shadow: 0 0 40px 40px #9761ae inset, 0 0 0 0 #9761ae;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  color: #fff;
  outline: 0;
  font-weight: 700;
  box-shadow: 0 0 10px 0 #9761ae inset, 0 0 10px 4px #9761ae;
} 
