.generalContainer {
  background-image: url("../../img/img5.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 47vh;
}

.landingTitle {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff;
  animation-name: link;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.landingTitle > p {
  font-size: 2.9rem;
  font-weight: 600;
}

@keyframes link {
  0% {
    text-shadow: 0 0 3px #fff, 0 0 0px #fff;
  }

  50% {
    text-shadow: 0 0 6px rgb(206, 206, 206), 0 0 25px #fff;
  }

  100% {
    text-shadow: 0 0 3px #fff, 0 0 0px #fff;
  }
}

.bannerContainer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding-top: 2%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  color: white;
  /* height: 100% */
}

.filtersContainer {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.selectContainer {
  background: rgb(29, 29, 31);
  background: linear-gradient(
    180deg,
    rgba(29, 29, 31, 0.7063200280112045) 4%,
    rgba(119, 129, 146, 0.40379901960784315) 38%,
    rgba(183, 203, 220, 1) 98%
  );
  padding: 0.5% 2%;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.6em;
  width: 14%;
}

.select {
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  margin-top: 4%;
  font-size: 1rem;
  outline: none;
  text-align: center;
  font-weight: 700;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8em 1.7em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  border-color: #9761ae;
  color: #fff;
  box-shadow: 0 0 40px 40px #9761ae inset, 0 0 0 0 #9761ae;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  color: #fff;
  outline: 0;
  font-weight: 700;
  box-shadow: 0 0 10px 0 #9761ae inset, 0 0 10px 4px #9761ae;
}

@media (max-width: 1200px) {
  .bannerContainer {
    font-size: 1.5rem;
  }

  .filtersContainer {
    width: 85%;
  }

  .selectContainer {
    padding: 0.5% 1.5%;
    font-size: 0.9rem;
    width: 110px;
  }

  .select {
    font-size: 0.7;
  }

  .btn {
    font-size: 0.8rem;
    padding: 1em 1.2em;
  }
}

@media (max-width: 850px) {
  .generalContainer {
    height: 63vh;
  }
  .bannerContainer {
    font-size: 1.1rem;
  }

  .filtersContainer {
    flex-direction: column;
    align-items: center;
  }

  .selectContainer {
    padding: 0.5% 1.8%;
    font-size: 0.8rem;
    width: 130px;
    margin-top: 3%;
  }

  .select {
    font-size: 0.8;
  }

  .btn {
    margin-top: 3%;
    font-size: 1rem;
    padding: 1em 1.2em;
  }
}

@media (max-width: 500px) {
  .bannerContainer {
    font-size: 0.9;
  }
}
